<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_macosx10.11.4</string>
			<key>LibName</key>
			<string>macOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>LuaPanda.xcodeproj</string>
			<key>CustomBindingsLibGenerationOptions</key>
			<dict>
				<key>CIMStoreObjcMethodsInfo</key>
				<true/>
			</dict>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-fobjc-arc</string>
				<string>-fmodules</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2016-10-10T17:05:17Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>macosx10.11</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUG1NVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QNAcIERIXHB0mKywyMzlGR0hJSktM
			TVFWW1xgYW1yc3d4hImKjo+boKGlprK3uLy9w8THy9BVJG51bGzU
			CQoLDA0ODxBWb2JqZWN0VG5hbWVaYXR0cmlidXRlc1YkY2xhc3OA
			A4ACgDOAMlDSEwwUFlpOUy5vYmplY3RzoRWABIAw1AkKCwwYGRoQ
			gAaABYAxgDJYTHVhUGFuZGHSEwweFqYfICEiIySAB4AWgBuAIIAl
			gCqAMNQJCgsMJygpKoAJgAiADIAVXxARQXBwRGVsZWdhdGUuc3dp
			ZnTTLQwuLzAxV05TLmJhc2VbTlMucmVsYXRpdmWAAIALgApfEHRm
			aWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENvZGVGbG93
			L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBwbGljYXRpb25zL0x1YVBh
			bmRhJTIwR2FtZS9MdWFQYW5kYS9BcHBEZWxlZ2F0ZS5zd2lmdNI0
			NTY3WiRjbGFzc25hbWVYJGNsYXNzZXNVTlNVUkyiNjhYTlNPYmpl
			Y3TTOhMMO0BFV05TLmtleXOkPD0+P4ANgA6AD4AQpEFCQkSAEYAS
			gBKAE4AUXxASZ2VuZXJhdGlvbkZpbGVEYXRlXxAUZ2VuZXJhdGlv
			bkRpZFN1Y2NlZWRYc2VsZWN0ZWRfEBdnZW5lcmF0aW9uTHVhTW9k
			dWtlUGF0aCNBvav34gAAAAleTHVhUGFuZGFfU3dpZnTSNDVOT18Q
			E05TTXV0YWJsZURpY3Rpb25hcnmjTlA4XE5TRGljdGlvbmFyedI0
			NVJTXENERkxOYW1lZFVybKNUVThcQ0RGTE5hbWVkVXJsXUNERkxO
			YW1lZEl0ZW3UCQoLDFdYWSqAGIAXgBqAFV8QGEdhbWVWaWV3Q29u
			dHJvbGxlci5zd2lmdNMtDC4vMF+AAIALgBlfEHtmaWxlOi8vL1Zv
			bHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENvZGVGbG93L0NvZGVGbG93
			JTIwU2FtcGxlJTIwQXBwbGljYXRpb25zL0x1YVBhbmRhJTIwR2Ft
			ZS9MdWFQYW5kYS9HYW1lVmlld0NvbnRyb2xsZXIuc3dpZnTTOhMM
			YmdFpDw9Pj+ADYAOgA+AEKRBQkJEgBGAEoASgBOAFNQJCgsMbm9w
			KoAdgByAH4AVXxASR2FtZUNvbnRyb2xzLnN3aWZ00y0MLi8wdoAA
			gAuAHl8QdWZpbGU6Ly8vVm9sdW1lcy9CcnVtZS9DZWxlZGV2JTIw
			Q29kZUZsb3cvQ29kZUZsb3clMjBTYW1wbGUlMjBBcHBsaWNhdGlv
			bnMvTHVhUGFuZGElMjBHYW1lL0x1YVBhbmRhL0dhbWVDb250cm9s
			cy5zd2lmdNM6Ewx5fkWkPD0+P4ANgA6AD4AQpEFCQkSAEYASgBKA
			E4AU1AkKCwyFhocqgCKAIYAkgBVeR2FtZVZpZXcuc3dpZnTTLQwu
			LzCNgACAC4AjXxBxZmlsZTovLy9Wb2x1bWVzL0JydW1lL0NlbGVk
			ZXYlMjBDb2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBsZSUyMEFwcGxp
			Y2F0aW9ucy9MdWFQYW5kYSUyMEdhbWUvTHVhUGFuZGEvR2FtZVZp
			ZXcuc3dpZnTTOhMMkJVFpDw9Pj+ADYAOgA+AEKRBQkJEgBGAEoAS
			gBOAFNQJCgsMnJ2eKoAngCaAKYAVXxAYU2NlbmVLaXRFeHRlbnNp
			b25zLnN3aWZ00y0MLi8wpIAAgAuAKF8Qe2ZpbGU6Ly8vVm9sdW1l
			cy9CcnVtZS9DZWxlZGV2JTIwQ29kZUZsb3cvQ29kZUZsb3clMjBT
			YW1wbGUlMjBBcHBsaWNhdGlvbnMvTHVhUGFuZGElMjBHYW1lL0x1
			YVBhbmRhL1NjZW5lS2l0RXh0ZW5zaW9ucy5zd2lmdNM6EwynrEWk
			PD0+P4ANgA6AD4AQpEFCQkSAEYASgBKAE4AU1AkKCwyztLUqgCyA
			K4AugBVfEBpMdWFQYW5kYS1CcmlkZ2luZy1IZWFkZXIuaNMtDC4v
			MLuAAIALgC1fEH1maWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2VsZWRl
			diUyMENvZGVGbG93L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBwbGlj
			YXRpb25zL0x1YVBhbmRhJTIwR2FtZS9MdWFQYW5kYS9MdWFQYW5k
			YS1CcmlkZ2luZy1IZWFkZXIuaNM6Ewy+wEWhv4AvoUKAEoAUV2ln
			bm9yZWTSNDXFxldOU0FycmF5osU40zoTDMjJRaCggBTSNDXMzV5D
			REZMTmFtZWRHcm91cKPOzzheQ0RGTE5hbWVkR3JvdXBdQ0RGTE5h
			bWVkSXRlbdM6EwzR0kWgoIAUXxAPTlNLZXllZEFyY2hpdmVy0dbX
			VHJvb3SAAQAIABEAGgAjAC0AMgA3AG4AdAB9AIQAiQCUAJsAnQCf
			AKEAowCkAKkAtAC2ALgAugDDAMUAxwDJAMsA1ADZAOAA4gDkAOYA
			6ADqAOwA7gD3APkA+wD9AP8BEwEaASIBLgEwATIBNAGrAbABuwHE
			AcoBzQHWAd0B5QHqAewB7gHwAfIB9wH5AfsB/QH/AgECFgItAjYC
			UAJZAloCaQJuAoQCiAKVApoCpwKrArgCxgLPAtEC0wLVAtcC8gL5
			AvsC/QL/A30DhAOJA4sDjQOPA5EDlgOYA5oDnAOeA6ADqQOrA60D
			rwOxA8YDzQPPA9ED0wRLBFIEVwRZBFsEXQRfBGQEZgRoBGoEbARu
			BHcEeQR7BH0EfwSOBJUElwSZBJsFDwUWBRsFHQUfBSEFIwUoBSoF
			LAUuBTAFMgU7BT0FPwVBBUMFXgVlBWcFaQVrBekF8AX1BfcF+QX7
			Bf0GAgYEBgYGCAYKBgwGFQYXBhkGGwYdBjoGQQZDBkUGRwbHBs4G
			0AbSBtQG1gbYBuAG5QbtBvAG9wb4BvkG+wcABw8HEwciBzAHNwc4
			BzkHOwdNB1AHVQAAAAAAAAIBAAAAAAAAANgAAAAAAAAAAAAAAAAA
			AAdX
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>10.11</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>LuaPanda</string>
				<key>targetSdk</key>
				<string>macosx</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>LuaPanda.xcodeproj</string>
			<key>target</key>
			<string>LuaPanda</string>
			<key>targetSdk</key>
			<string>macosx</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppDocument-luapkgExportVersion</key>
		<integer>0</integer>
		<key>LuaAppDocument-remote service pattern</key>
		<string>starts:LuaPanda - LuaContext</string>
		<key>LuaAppWindow edited source path</key>
		<string>GameViewController</string>
		<key>LuaAppWindow frame</key>
		<string>992 318 1440 1030 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.92</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>GameViewController</string>
			<string>GameViewController-Collisions</string>
			<string>PandaCharacter</string>
			<string>MonitorControllerClass</string>
			<string>MainStoryboard</string>
			<string>GameScnAssets</string>
			<string>Particle systems</string>
		</array>
		<key>GameScnAssets</key>
		<array>
			<string>bamboo</string>
			<string>bamboos</string>
			<string>bloc</string>
			<string>enemy</string>
			<string>flower</string>
			<string>grass</string>
			<string>level</string>
			<string>panda</string>
			<string>particles</string>
			<string>pearl</string>
			<string>skybox</string>
			<string>stoneShell01</string>
			<string>stoneShell02</string>
			<string>stoneShell03</string>
			<string>textures</string>
			<string>walk</string>
		</array>
		<key>GameScnAssets.textures</key>
		<array>
			<string>bamboo_leaves_diffuse</string>
			<string>bamboo_leaves_diffuse</string>
			<string>bamboo_trunk_diffuse</string>
			<string>bamboo_trunk_diffuse</string>
			<string>bokeh</string>
			<string>fire</string>
			<string>flameThrower_ambient</string>
			<string>flameThrower_ambient</string>
			<string>flameThrower_base_diffuse</string>
			<string>flameThrower_base_diffuse</string>
			<string>flameThrower_diffuse</string>
			<string>flameThrower_diffuse</string>
			<string>flameThrower_normal</string>
			<string>flameThrower_normal</string>
			<string>flameThrower_specular</string>
			<string>flameThrower_specular</string>
			<string>flower_ambiant</string>
			<string>flower_diffuse</string>
			<string>flower_diffuse</string>
			<string>flower_normal</string>
			<string>flower_normal</string>
			<string>glow_ellipse</string>
			<string>grass</string>
			<string>grass</string>
			<string>grass_ambient</string>
			<string>grass_diffuse</string>
			<string>grass_diffuse</string>
			<string>grass_specular</string>
			<string>grass_specular</string>
			<string>ground_diffuse</string>
			<string>ground_diffuse</string>
			<string>ground_normal</string>
			<string>ground_normal</string>
			<string>ground_specular</string>
			<string>ground_specular</string>
			<string>lightmap</string>
			<string>max_ambiant</string>
			<string>max_diffuse</string>
			<string>max_specular</string>
			<string>moss_diffuse</string>
			<string>moss_diffuse</string>
			<string>moss_round_diffuse</string>
			<string>moss_round_diffuse</string>
			<string>moss_round_specular</string>
			<string>moss_round_specular</string>
			<string>moss_specular</string>
			<string>moss_specular</string>
			<string>mountain_diffuse</string>
			<string>mountain_diffuse</string>
			<string>mountain_normal</string>
			<string>mountain_normal</string>
			<string>mountain_specular</string>
			<string>mountain_specular</string>
			<string>pearl_ambient</string>
			<string>pearl_cubemap</string>
			<string>pearl_diffuse</string>
			<string>pearl_diffuse</string>
			<string>puddle_diffuse</string>
			<string>puddle_normal</string>
			<string>reflection_blurred_low_row</string>
			<string>ripple01</string>
			<string>rock_dark_diffuse</string>
			<string>rock_dark_diffuse</string>
			<string>rock_dark_normal</string>
			<string>rock_dark_normal</string>
			<string>rock_diffuse</string>
			<string>rock_diffuse</string>
			<string>rock_normal</string>
			<string>rock_normal</string>
			<string>rock_specular</string>
			<string>rock_specular</string>
			<string>rock_wall_arch_diffuse</string>
			<string>rock_wall_arch_flower_diffuse</string>
			<string>rock_wall_arch_flower_diffuse</string>
			<string>rock_wall_arch_flower_normal</string>
			<string>rock_wall_arch_flower_normal</string>
			<string>rock_wall_arch_nologo_diffuse</string>
			<string>rock_wall_arch_nologo_diffuse</string>
			<string>rock_wall_arch_normal</string>
			<string>rock_wall_dark_diffuse</string>
			<string>rock_wall_dark_diffuse</string>
			<string>rock_wall_diffuse</string>
			<string>rock_wall_diffuse</string>
			<string>rock_wall_diffuse_noLine</string>
			<string>rock_wall_diffuse_noLine</string>
			<string>rock_wall_normal</string>
			<string>rock_wall_normal</string>
			<string>rock_wall_normal_noLine</string>
			<string>rock_wall_normal_noLine</string>
			<string>rock_wall_specular</string>
			<string>rock_wall_specular</string>
			<string>smoke</string>
			<string>spark</string>
			<string>splash</string>
			<string>splash02</string>
			<string>star</string>
			<string>water_ambient</string>
			<string>water_diffuse</string>
			<string>water_normal</string>
			<string>wood_diffuse</string>
		</array>
		<key>Particle systems</key>
		<array>
			<string>collect</string>
			<string>glow01</string>
			<string>confetti</string>
			<string>confetti</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>macosx</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>LuaContext</string>
			<key>SourceGroupChildItemsOrder</key>
			<array>
				<string>GameViewController.lua</string>
				<string>GameViewController-Collisions.lua</string>
				<string>PandaCharacter.lua</string>
				<string>MonitorControllerClass.lua</string>
				<string>MainStoryboard.storyboard</string>
				<string>GameScnAssets.scnassets</string>
				<string>Particle systems</string>
			</array>
			<key>SourceItemChangeTime</key>
			<real>497811214.30378097</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
			<key>SourceItemName</key>
			<string></string>
		</dict>
		<key>::GameScnAssets.scnassets</key>
		<dict>
			<key>SourceGroupChildItemsOrder</key>
			<array>
				<string>bamboo.scn</string>
				<string>bamboos.scn</string>
				<string>bloc.scn</string>
				<string>enemy.scn</string>
				<string>flower.scn</string>
				<string>grass.scn</string>
				<string>level.scn</string>
				<string>panda.scn</string>
				<string>particles.scn</string>
				<string>pearl.scn</string>
				<string>skybox</string>
				<string>stoneShell01.scn</string>
				<string>stoneShell02.scn</string>
				<string>stoneShell03.scn</string>
				<string>textures</string>
				<string>walk.scn</string>
			</array>
			<key>SourceGroupIsLoadable</key>
			<true/>
			<key>SourceItemOriginalFilePath</key>
			<string>LuaPanda/Game assets/game.scnassets</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va6wFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAwAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			DQAAAAEBAABMdWFQYW5kYSBHYW1lAAAACAAAAAEBAABMdWFQYW5k
			YQsAAAABAQAAR2FtZSBhc3NldHMADgAAAAEBAABnYW1lLnNjbmFz
			c2V0cwAAIAAAAAEGAAAQAAAAIAAAADAAAABIAAAAbAAAAIQAAACU
			AAAAqAAAAAgAAAAEAwAAnjcAAAAAAAAIAAAABAMAAAIAAAAAAAAA
			CAAAAAQDAAAVjwAAAAAAAAgAAAAEAwAABRUBAAAAAAAIAAAABAMA
			AL+ANwAAAAAACAAAAAQDAADBgDcAAAAAAAgAAAAEAwAA1IA3AAAA
			AAAIAAAABAMAACiTNwAAAAAAIAAAAAEGAADoAAAA+AAAAAgBAAAY
			AQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQbxynygAAAAYAAAA
			AQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAABYAAAABCQAAZmls
			ZTovLy9Wb2x1bWVzL0JydW1lLwAACAAAAAQDAAAAAICRCwAAAAgA
			AAAABAAAQbrqHeEAAAAkAAAAAQEAADM3NDBBMkFCLTdBMkYtM0Yx
			Ny04RENDLTUyNDkzNjZBRjk0RBgAAAABAgAAAQEAAAEAAADvEwAA
			AQAAAAAAAAAAAAAADgAAAAEBAAAvVm9sdW1lcy9CcnVtZQAACAAA
			AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
			AAAAEIgqOgAAAAgAAAAABAAAQboUI0oAAAAkAAAAAQEAADFFMTdC
			QzhCLUI1MUQtM0EwMC04MUNCLTU0RjE2Q0ExREU5MRgAAAABAgAA
			gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAYAAA
			AP7///8A8AAAAAAAAAcAAAACIAAA9AIAAAAAAAAFIAAAZAIAAAAA
			AAAQIAAAdAIAAAAAAAARIAAAqAIAAAAAAAASIAAAiAIAAAAAAAAT
			IAAAmAIAAAAAAAAgIAAA1AIAAAAAAAAEAAAAAwMAAADwAAAEAAAA
			AwMAAAAAAAAEAAAAAwMAAAEAAAAkAAAAAQYAAGgDAAB0AwAAgAMA
			AHQDAAB0AwAAdAMAAHQDAAB0AwAAdAMAAP8AAAABAgAANjdhNzk5
			NDYxNGMzNjFlMmE3ODRlMTEyNzQ3MGRhZDFjYmZlODY0YTswMDAw
			MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBs
			ZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAw
			MDEwOzAwMDAwMDAwMDAzNzkzMjg7L3ZvbHVtZXMvYnJ1bWUvY2Vs
			ZWRldiBjb2RlZmxvdy9jb2RlZmxvdyBzYW1wbGUgYXBwbGljYXRp
			b25zL2x1YXBhbmRhIGdhbWUvbHVhcGFuZGEvZ2FtZSBhc3NldHMv
			Z2FtZS5zY25hc3NldHMAALQAAAD+////AQAAAAADAAAOAAAABBAA
			AMAAAAAAAAAABRAAAGgBAAAAAAAAEBAAAKABAAAAAAAAQBAAAJAB
			AAAAAAAAACAAAIwDAAAAAAAAAiAAAEwCAAAAAAAABSAAAMABAAAA
			AAAAECAAACAAAAAAAAAAESAAAAACAAAAAAAAEiAAAOABAAAAAAAA
			EyAAAPABAAAAAAAAICAAACwCAAAAAAAAENAAAAQAAAAAAAAAgPAA
			ALgDAAAAAAAA
			</data>
		</dict>
		<key>::GameViewController-Collisions.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>497811536.59636003</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>1677</integer>
				<key>SrcEditor Visible Length</key>
				<integer>3073</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>::GameViewController.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>497812070.17646402</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>18807</integer>
				<key>SrcEditor Visible Length</key>
				<integer>2574</integer>
				<key>SrcEditor Visible Location</key>
				<integer>18019</integer>
			</dict>
		</dict>
		<key>::MainStoryboard.storyboard</key>
		<dict>
			<key>SourceItemOriginalFilePath</key>
			<string>/Users/jean-luc/Library/Mobile Documents/com~apple~CloudDocs/CodeFlow test apps/LuaFox/LuaFox/Base.lproj/Main.storyboard</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9vaxwFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAQAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjBwAAAAEBAABMaWJyYXJ5ABAAAAAB
			AQAATW9iaWxlIERvY3VtZW50cxMAAAABAQAAY29tfmFwcGxlfkNs
			b3VkRG9jcwASAAAAAQEAAENvZGVGbG93IHRlc3QgYXBwcwAABgAA
			AAEBAABMdWFGb3gAAAoAAAABAQAAQmFzZS5scHJvagAADwAAAAEB
			AABNYWluLnN0b3J5Ym9hcmQAKAAAAAEGAAAQAAAAIAAAADAAAABA
			AAAAWAAAAHQAAACQAAAAkAAAAKAAAAC0AAAACAAAAAQDAADTkwIA
			AAAAAAgAAAAEAwAAYkEJAAAAAAAIAAAABAMAAGdBCQAAAAAACAAA
			AAQDAACiYA0AAAAAAAgAAAAEAwAAD2ENAAAAAAAIAAAABAMAAMCw
			UwAAAAAACAAAAAQDAAA8zwsDAAAAAAgAAAAEAwAAQs8LAwAAAAAI
			AAAABAMAAETPCwMAAAAACAAAAAQDAAAXSVwDAAAAACgAAAABBgAA
			/AAAAAwBAAAcAQAALAEAADwBAABMAQAAXAEAAGwBAAB8AQAAjAEA
			AAgAAAAABAAAQb14HcIAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAA
			AAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
			AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
			BAMAAAAQiCo6AAAACAAAAAAEAABBuhQjSgAAACQAAAABAQAAMUUx
			N0JDOEItQjUxRC0zQTAwLTgxQ0ItNTRGMTZDQTFERTkxGAAAAAEC
			AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
			AAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJL
			ZXkAAAQAAAADAwAA4X4AAAkBAAABAgAANzcxZWRiMzQzZDM3MTMy
			ZmRkYjUxMGI5NTdhZGUwMzFmNWQxODM1ZjswMDAwMDAwMDswMDAw
			MDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2Fu
			ZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAwMDA0OzAwMDAw
			MDAwMDM1YzQ5MTc7L3VzZXJzL2plYW4tbHVjL2xpYnJhcnkvbW9i
			aWxlIGRvY3VtZW50cy9jb21+YXBwbGV+Y2xvdWRkb2NzL2NvZGVm
			bG93IHRlc3QgYXBwcy9sdWFmb3gvbHVhZm94L2Jhc2UubHByb2ov
			bWFpbi5zdG9yeWJvYXJkAAAAAOQAAAD+////AQAAAAAAAAASAAAA
			BBAAAMwAAAAAAAAABRAAAJwBAAAAAAAAEBAAANwBAAAAAAAAQBAA
			AMwBAAAAAAAAAiAAAKgCAAAAAAAABSAAABgCAAAAAAAAECAAACgC
			AAAAAAAAESAAAFwCAAAAAAAAEiAAADwCAAAAAAAAEyAAAEwCAAAA
			AAAAICAAAIgCAAAAAAAAMCAAALQCAAAAAAAAAcAAAPwBAAAAAAAA
			EcAAACAAAAAAAAAAEsAAAAwCAAAAAAAAENAAAAQAAAAAAAAAgPAA
			AOwCAAAAAAAAvAIAgOACAAAAAAAA
			</data>
		</dict>
		<key>::MonitorControllerClass.lua</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>483393029.78505802</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>2443</integer>
				<key>SrcEditor Visible Location</key>
				<integer>3579</integer>
			</dict>
		</dict>
		<key>::PandaCharacter.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>497429322.50275499</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>11579</integer>
				<key>SrcEditor Visible Length</key>
				<integer>3202</integer>
				<key>SrcEditor Visible Location</key>
				<integer>10493</integer>
			</dict>
		</dict>
		<key>::Particle systems</key>
		<dict>
			<key>SourceGroupChildItemsOrder</key>
			<array>
				<string>collect.scnp</string>
				<string>glow01.png</string>
				<string>confetti.scnp</string>
				<string>confetti.png</string>
			</array>
			<key>SourceGroupIsLoadable</key>
			<true/>
			<key>SourceItemOriginalFilePath</key>
			<string>LuaPanda/Game assets/Particle systems</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va7AFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAxAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			DQAAAAEBAABMdWFQYW5kYSBHYW1lAAAACAAAAAEBAABMdWFQYW5k
			YQsAAAABAQAAR2FtZSBhc3NldHMAEAAAAAEBAABQYXJ0aWNsZSBz
			eXN0ZW1zIAAAAAEGAAAQAAAAIAAAADAAAABIAAAAbAAAAIQAAACU
			AAAAqAAAAAgAAAAEAwAAnjcAAAAAAAAIAAAABAMAAAIAAAAAAAAA
			CAAAAAQDAAAVjwAAAAAAAAgAAAAEAwAABRUBAAAAAAAIAAAABAMA
			AL+ANwAAAAAACAAAAAQDAADBgDcAAAAAAAgAAAAEAwAA1IA3AAAA
			AAAIAAAABAMAAFqcNwAAAAAAIAAAAAEGAADoAAAA+AAAAAgBAAAY
			AQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQbxynygAAAAYAAAA
			AQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAABYAAAABCQAAZmls
			ZTovLy9Wb2x1bWVzL0JydW1lLwAACAAAAAQDAAAAAICRCwAAAAgA
			AAAABAAAQbrqHeEAAAAkAAAAAQEAADM3NDBBMkFCLTdBMkYtM0Yx
			Ny04RENDLTUyNDkzNjZBRjk0RBgAAAABAgAAAQEAAAEAAADvEwAA
			AQAAAAAAAAAAAAAADgAAAAEBAAAvVm9sdW1lcy9CcnVtZQAACAAA
			AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
			AAAAEIgqOgAAAAgAAAAABAAAQboUI0oAAAAkAAAAAQEAADFFMTdC
			QzhCLUI1MUQtM0EwMC04MUNCLTU0RjE2Q0ExREU5MRgAAAABAgAA
			gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAYAAA
			AP7///8A8AAAAAAAAAcAAAACIAAA9AIAAAAAAAAFIAAAZAIAAAAA
			AAAQIAAAdAIAAAAAAAARIAAAqAIAAAAAAAASIAAAiAIAAAAAAAAT
			IAAAmAIAAAAAAAAgIAAA1AIAAAAAAAAEAAAAAwMAAADwAAAEAAAA
			AwMAAAAAAAAEAAAAAwMAAAEAAAAkAAAAAQYAAGgDAAB0AwAAgAMA
			AHQDAAB0AwAAdAMAAHQDAAB0AwAAdAMAAAEBAAABAgAAODM3MmU5
			YTQ3YjM3ZjUyM2EzNWM4ZGQzYjk3MWE1YjRhMmYxZmIzNDswMDAw
			MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBs
			ZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAw
			MDEwOzAwMDAwMDAwMDAzNzljNWE7L3ZvbHVtZXMvYnJ1bWUvY2Vs
			ZWRldiBjb2RlZmxvdy9jb2RlZmxvdyBzYW1wbGUgYXBwbGljYXRp
			b25zL2x1YXBhbmRhIGdhbWUvbHVhcGFuZGEvZ2FtZSBhc3NldHMv
			cGFydGljbGUgc3lzdGVtcwAAAAC0AAAA/v///wEAAAAAAwAADgAA
			AAQQAADAAAAAAAAAAAUQAABoAQAAAAAAABAQAACgAQAAAAAAAEAQ
			AACQAQAAAAAAAAAgAACMAwAAAAAAAAIgAABMAgAAAAAAAAUgAADA
			AQAAAAAAABAgAAAgAAAAAAAAABEgAAAAAgAAAAAAABIgAADgAQAA
			AAAAABMgAADwAQAAAAAAACAgAAAsAgAAAAAAABDQAAAEAAAAAAAA
			AIDwAAC4AwAAAAAAAA==
			</data>
		</dict>
		<key>GameScnAssets::textures</key>
		<dict>
			<key>SourceGroupChildItemsOrder</key>
			<array>
				<string>bamboo_leaves_diffuse.png</string>
				<string>bamboo_leaves_diffuse.pvrtc</string>
				<string>bamboo_trunk_diffuse.png</string>
				<string>bamboo_trunk_diffuse.pvrtc</string>
				<string>bokeh.png</string>
				<string>fire.png</string>
				<string>flameThrower_ambient.png</string>
				<string>flameThrower_ambient.pvrtc</string>
				<string>flameThrower_base_diffuse.png</string>
				<string>flameThrower_base_diffuse.pvrtc</string>
				<string>flameThrower_diffuse.png</string>
				<string>flameThrower_diffuse.pvrtc</string>
				<string>flameThrower_normal.png</string>
				<string>flameThrower_normal.pvrtc</string>
				<string>flameThrower_specular.png</string>
				<string>flameThrower_specular.pvrtc</string>
				<string>flower_ambiant.png</string>
				<string>flower_diffuse.png</string>
				<string>flower_diffuse.pvrtc</string>
				<string>flower_normal.png</string>
				<string>flower_normal.pvrtc</string>
				<string>glow_ellipse.png</string>
				<string>grass.png</string>
				<string>grass.pvrtc</string>
				<string>grass_ambient.png</string>
				<string>grass_diffuse.png</string>
				<string>grass_diffuse.pvrtc</string>
				<string>grass_specular.png</string>
				<string>grass_specular.pvrtc</string>
				<string>ground_diffuse.png</string>
				<string>ground_diffuse.pvrtc</string>
				<string>ground_normal.png</string>
				<string>ground_normal.pvrtc</string>
				<string>ground_specular.png</string>
				<string>ground_specular.pvrtc</string>
				<string>lightmap.png</string>
				<string>max_ambiant.png</string>
				<string>max_diffuse.png</string>
				<string>max_specular.png</string>
				<string>moss_diffuse.png</string>
				<string>moss_diffuse.pvrtc</string>
				<string>moss_round_diffuse.png</string>
				<string>moss_round_diffuse.pvrtc</string>
				<string>moss_round_specular.png</string>
				<string>moss_round_specular.pvrtc</string>
				<string>moss_specular.png</string>
				<string>moss_specular.pvrtc</string>
				<string>mountain_diffuse.png</string>
				<string>mountain_diffuse.pvrtc</string>
				<string>mountain_normal.png</string>
				<string>mountain_normal.pvrtc</string>
				<string>mountain_specular.png</string>
				<string>mountain_specular.pvrtc</string>
				<string>pearl_ambient.png</string>
				<string>pearl_cubemap.png</string>
				<string>pearl_diffuse.png</string>
				<string>pearl_diffuse.pvrtc</string>
				<string>puddle_diffuse.png</string>
				<string>puddle_normal.png</string>
				<string>reflection_blurred_low_row.png</string>
				<string>ripple01.png</string>
				<string>rock_dark_diffuse.png</string>
				<string>rock_dark_diffuse.pvrtc</string>
				<string>rock_dark_normal.png</string>
				<string>rock_dark_normal.pvrtc</string>
				<string>rock_diffuse.png</string>
				<string>rock_diffuse.pvrtc</string>
				<string>rock_normal.png</string>
				<string>rock_normal.pvrtc</string>
				<string>rock_specular.png</string>
				<string>rock_specular.pvrtc</string>
				<string>rock_wall_arch_diffuse.png</string>
				<string>rock_wall_arch_flower_diffuse.png</string>
				<string>rock_wall_arch_flower_diffuse.pvrtc</string>
				<string>rock_wall_arch_flower_normal.png</string>
				<string>rock_wall_arch_flower_normal.pvrtc</string>
				<string>rock_wall_arch_nologo_diffuse.png</string>
				<string>rock_wall_arch_nologo_diffuse.pvrtc</string>
				<string>rock_wall_arch_normal.png</string>
				<string>rock_wall_dark_diffuse.png</string>
				<string>rock_wall_dark_diffuse.pvrtc</string>
				<string>rock_wall_diffuse.png</string>
				<string>rock_wall_diffuse.pvrtc</string>
				<string>rock_wall_diffuse_noLine.png</string>
				<string>rock_wall_diffuse_noLine.pvrtc</string>
				<string>rock_wall_normal.png</string>
				<string>rock_wall_normal.pvrtc</string>
				<string>rock_wall_normal_noLine.png</string>
				<string>rock_wall_normal_noLine.pvrtc</string>
				<string>rock_wall_specular.png</string>
				<string>rock_wall_specular.pvrtc</string>
				<string>smoke.png</string>
				<string>spark.png</string>
				<string>splash.png</string>
				<string>splash02.png</string>
				<string>star.png</string>
				<string>water_ambient.png</string>
				<string>water_diffuse.png</string>
				<string>water_normal.png</string>
				<string>wood_diffuse.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
