<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>target</key>
			<string>LuaPanda</string>
			<key>targetSdk</key>
			<string>macosx</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
			<key>project</key>
			<string>LuaPanda.xcodeproj</string>
		</dict>
		<key>LuaAppDocument-remote service pattern</key>
		<string>starts:LuaPanda - LuaContext</string>
		<key>LuaAppDocument-luapkgExportVersion</key>
		<integer>0</integer>
	</dict>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>SourceGroupChildItemsOrder</key>
			<array>
				<string>Start.lua</string>
				<string>GameViewController.lua</string>
				<string>GameViewController-Collisions.lua</string>
				<string>PandaCharacter.lua</string>
				<string>MainStoryboard.storyboard</string>
				<string>GameScnAssets.scnassets</string>
				<string>Particle systems</string>
				<string>StoryboardMonitor.lua</string>
			</array>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
			<key>SourceItemChangeTime</key>
			<real>539355939.670711</real>
			<key>RootGroupId</key>
			<string>LuaContext</string>
			<key>SourceItemName</key>
			<string></string>
		</dict>
		<key>::PandaCharacter.lua</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>539355257.8721091</real>
			<key>Source File Auto Reload</key>
			<true/>
		</dict>
		<key>::MainStoryboard.storyboard</key>
		<dict>
			<key>SourceItemOriginalFilePath</key>
			<string>LuaPanda/Base.lproj/Main.storyboard</string>
		</dict>
		<key>::GameViewController-Collisions.lua</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>538933958.01037</real>
			<key>Source File Auto Reload</key>
			<true/>
		</dict>
		<key>::Start.lua</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>539356004.280712</real>
		</dict>
		<key>::Particle systems</key>
		<dict>
			<key>SourceGroupIsLoadable</key>
			<true/>
			<key>SourceItemOriginalFilePath</key>
			<string>LuaPanda/Game assets/Particle systems</string>
		</dict>
		<key>::StoryboardMonitor.lua</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>538869773.842708</real>
		</dict>
		<key>::GameScnAssets.scnassets</key>
		<dict>
			<key>SourceGroupIsLoadable</key>
			<true/>
			<key>SourceItemOriginalFilePath</key>
			<string>LuaPanda/Game assets/game.scnassets</string>
		</dict>
		<key>::GameViewController.lua</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>539358946.8803281</real>
			<key>Source File Auto Reload</key>
			<true/>
		</dict>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>macosx</string>
	<key>Program Format Version</key>
	<string>0.92</string>
</dict>
</plist>
